# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a


*.vcxproj
*.vcxproj.*
*.dir
*.log
CMakeFiles
*.sln
*cmake_install.cmake

*_automoc*
*.cpp_parameters
moc_*
ui_*
*.qrc.*
qrc_*